{% if section.settings.image != blank or section.settings.imagemobile != blank %}
  <div style="height:{{ section.settings.toppadding }}"></div>

  <div class="simple-hero-{{ section.id }}">

    {% if section.settings.link != blank %}<a href="{{ link }}">{% endif %}

        {% if section.settings.image != blank and section.settings.imagemobile != blank %}
          <picture>
            <source media="(min-width: 741px)" sizes="100vw" {% render 'image-attributes', image: section.settings.image, sizes: '750,828,920,945,960,1080,1280,1440,1600,1800,2000,2200,2560,2800,3000', ignore_src: true %}>
            <img sizes="100vw" class="" loading="lazy" {% render 'image-attributes', image: section.settings.imagemobile, sizes: '200,320,360,375,414,500,640,720,750,828,920,945,960,1080,1280,1440,1600,1800,2000,2200,2560,2800,3000' %}>
          </picture>
        {% else %}
          {% if section.settings.imagemobile != blank %}
            {%- assign media = section.settings.imagemobile -%}
          {% else %}
            {%- assign media = section.settings.image -%}
          {% endif %}
          <img
              {% render 'image-attributes', image: media, sizes: '200,320,360,375,414,500,640,720,750,828,920,945,960,1080,1280,1440,1600,1800,2000,2200,2560,2800,3000' %}
              loading="lazy"
              sizes="100vw"
              class="{% if section.settings.imagemobile != blank %}hide-desktop{% else %}hide-mobile{% endif %}">
        {% endif %}

    {% if section.settings.link != blank %}</a>{% endif %}
  </div>

  <div style="height:{{ section.settings.bottompadding }}"></div>

  <style>
      .simple-hero-{{ section.id }}{ width: 100% !important; position: relative; }

      .simple-hero-{{ section.id }} img{width: 100% !important; }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Simple Hero",
    "settings": [{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },{
      "type": "image_picker",
      "id": "imagemobile",
      "label": "Image Mobile"
      },{
      "type": "url",
      "id": "link",
      "label": "Link"
      },{
      "type": "text",
      "id": "bottompadding",
      "label": "Bottom Padding"
      },{
      "type": "text",
      "id": "toppadding",
      "label": "Top Padding"
      },{
      "type": "text",
      "id": "buttontext",
      "label": "Button Text"
      }],
	"presets":[{"name": "Simple Hero"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
