{% assign site_url = 'https://statikco.com/' %}
{% assign logo_alt = 'Statik logo' %}
{% if fulfillment.item_count == item_count %}
  {% capture email_title %}Your order is on the way{% endcapture %}
  {% capture email_body %}Your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
{% elsif fulfillment.item_count > 1 %}
  {% if fulfillment_status == 'fulfilled' %}
    {% capture email_title %}The last items in your order are on the way{% endcapture %}
    {% capture email_body %}The last items in your order are on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% else %}
    {% capture email_title %}Some items in your order are on the way{% endcapture %}
    {% capture email_body %}Some items in your order are on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% endif %}
{% else %}
  {% if fulfillment_status == 'fulfilled' %}
    {% capture email_title %}The last item in your order is on the way{% endcapture %}
    {% capture email_body %}The last item in your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% else %}
    {% capture email_title %}One item in your order is on the way{% endcapture %}
    {% capture email_body %}One item in your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% endif %}
{% endif %}

{% capture email_emphasis %}Estimated delivery date: <strong>{{fulfillment.estimated_delivery_at | date: format: 'date'}}</strong>{% endcapture %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ email_title }}</title>
  <style>
      @font-face {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 900;
          src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
  </style>
</head>
<body style="margin:0;padding:0;font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';font-weight:500;font-size: 12px; color: #848484;">

<table align="center" border="0" cellpadding="0" cellspacing="0" id="bodyTable" width="100%" style="border-collapse:collapse;height:100%;width:100%;padding:0;margin:0;font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';font-weight: 500;font-size:12px;color: #848484;">

  <tr>
    <td align="left" id="bodyCell" valign="top" style="padding:10px 20px;margin:0;height:100%;width:100%">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:none;background-color:#fff;border-radius:0;display: table; width:100%;max-width:600px">

        <tr id="sc-header" style="background-color: #000000;">
          <td style="padding: 24px; text-align: center;">
            <a href="{{ site_url }}" style="display: inline-block;margin:0 auto;">
              <img alt="{{ logo_alt }}" src="https://cdn.shopify.com/s/files/1/0603/0802/9633/files/STATIK_LOGO_VECTOR_WHITE_f49bc0f2-0dd3-4516-a393-0affec577794_300x.png" style="width: 100%;max-width:11em;" />
            </a>
          </td>
        </tr>

        <tr id="container">
          <td valign="top" style="padding: 10%;">
            <table>
              <tr id="sc-text">
                <div>
                  <a href="{{ site_url }}" style="">
                    <img alt="{{ logo_alt }}" src="https://cdn.shopify.com/s/files/1/0603/0802/9633/files/STATIK_LOGO_VECTOR_370x.png" style="width: 100%;max-width:8.5em;" />
                  </a>
                </div>
                <div style="color: #848484;padding-top: 0.4em">
                  <div style="font-size:20px;font-weight:600;">
                    ORDER {{ order_number }}
                  </div>
                  <div style="">
                    {{ created_at | default: 'now' | date: '%B %d, %Y' }}
                  </div>
                  <div style="color:#303030;font-size: 29px;font-weight: 900;margin-top:0.8em;">{{ email_title }}</div>
                  <p style="margin-top: 2em;">{{ email_body }}</p>
                  {% if fulfillment.estimated_delivery_at %}
                    <p>{{ email_emphasis }}</p>
                  {% endif %}
                </div>
              </tr>

              <tr id="sc-view-order">
                <td valign="top" style="padding-top: 1.8em;">
                  {% if order_status_url %}
                    <a href="{{ order_status_url }}" class="button__text" style="display: inline-block;color:white;background: linear-gradient(0deg, #95408d 0%, #423988 100%);line-height: 1em;padding:1.1em;text-transform: uppercase; text-decoration: none;margin-right:2em;">View your order</a>
                  {% endif %}
                  {% if shop.url %}
                    <a href="{{ shop.url }}" class="button__text" style="display: inline-block;color:white;background: linear-gradient(0deg, #95408d 0%, #423988 100%);line-height: 1em;padding:1.1em;text-transform: uppercase; text-decoration: none;">Visit our store</a>
                  {% endif %}
                </td>
              </tr>

              {% if fulfillment.tracking_numbers.size > 0 %}
                <tr id="sc-tracking-number">
                  <td valign="top" style="padding-top: 1.8em;">
                    <p style="text-transform: uppercase;">
                      {% if fulfillment.tracking_numbers.size == 1 and fulfillment.tracking_company and fulfillment.tracking_url %}
                        {{ fulfillment.tracking_company }} tracking number: <a href="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_numbers.first }}</a>
                      {% elsif fulfillment.tracking_numbers.size == 1 %}
                        Tracking number: {{ fulfillment.tracking_numbers.first }}
                      {% else %}
                        {{ fulfillment.tracking_company }} tracking numbers:<br />
                        {% for tracking_number in fulfillment.tracking_numbers %}
                          {% if fulfillment.tracking_urls[forloop.index0] %}
                            <a href="{{ fulfillment.tracking_urls[forloop.index0] }}">
                              {{ tracking_number }}
                            </a>
                          {% else %}
                            {{ tracking_number }}
                          {% endif %}
                          <br/>
                        {% endfor %}
                      {% endif %}
                    </p>
                  </td>
                </tr>
              {% endif %}

              <tr id="orderDetails">
                <td valign="top" style="">

                  <h4 style='color:#303030;display:block;font-size:17px;margin:2em 0 1em;text-transform: uppercase;'>ITEMS IN THIS SHIPMENT</h4>

                  <table id="sc-line-items" align="left" border="0" cellpadding="0" cellspacing="0" class="kmTable" width="100%" style="border-collapse:collapse;">
                    {% for line in fulfillment.fulfillment_line_items %}
                      {% if line.line_item.product.title %}
                        {% assign line_title = line.line_item.product.title %}
                      {% else %}
                        {% assign line_title = line.line_item.title %}
                      {% endif %}

                      {% if line.quantity < line.line_item.quantity %}
                        {% capture line_display %} {{ line.quantity }} of {{ line.line_item.quantity }} {% endcapture %}
                      {% else %}
                        {% assign line_display = line.line_item.quantity  %}
                      {% endif %}

                      <tr class="sc-line-item" style="border-top: 1px solid #bfbfbf; text-align: left;">
                        <td style='width:1%;height:114px;padding:0;'>
                          {% if line.line_item.image %}
                            <img align="right" alt="{{ line_title }}" src="{{ line.line_item | img_url: 'medium' }}" style="border:0;margin:0;padding:0;height:auto;outline:none;vertical-align:top;max-width:5.5em;max-height:5.5em;" />
                          {% endif %}
                        </td>
                        <td style='height:114px;padding: 0.8em 2em;'>
                          <h3 style='color:#030303;display:block;font-size:12px;text-transform: uppercase;font-weight:900;margin:0;text-align:left'>{{ line_title }} &times;&nbsp;{{ line_display }}</h3>
                          <div style="margin:0;padding:0">
                            {% if line.line_item.variant.title != 'Default Title' %}
                              <span class="order-list__item-variant">{{ line.line_item.variant.title }}</span><br/>
                            {% endif %}
                            {% if line.line_item.selling_plan_allocation %}
                              <span class="order-list__item-variant">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span><br/>
                            {% endif %}
                            {% if line.line_item.refunded_quantity > 0 %}
                              <span class="order-list__item-refunded">Refunded</span>
                            {% endif %}
                            {% if line.line_item.discount_allocations %}
                              {% for discount_allocation in line.line_item.discount_allocations %}
                                {% if discount_allocation.discount_application.target_selection != 'all' %}
                                  <span class="order-list__item-discount-allocation">
                                    <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                                    <span>
                                      {{ discount_allocation.discount_application.title | upcase }}
                                      (-{{ discount_allocation.amount | money }})
                                    </span>
                                  </span>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>


                </td>
              </tr>

              <tr id="sc-contact-us">
                <td>
                  <div style="margin-top: 2em;">
                    If you have any questions, reply to this email or contact us at <a style="color: #94408d;" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                  </div>
                </td>
              </tr>

            </table>
          </td>
        </tr>

        <tr id="oc-footer" style="background: linear-gradient(0deg, #95408d 0%, #423988 100%); color: white;">
          <td style="padding: 24px;">
            <table style="width: 100%;">
              <tr>
                <td colspan="2">
                  <a href="{{ site_url }}" style="">
                    <img alt="{{ logo_alt }}" src="https://cdn.shopify.com/s/files/1/0603/0802/9633/files/statik-a-logo.png" style="width: 100%;max-width:2.6em;" />
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="{{ site_url }}" style="color:#FFFFFF;">statikco.com</a>
                  <br />copyright © {{ 'now' | date: "%Y" }}
                </td>
                <td align="right" id="oc-social-links">
                  <a href="https://tiktok.com/statikco" target="_blank" style=""><img src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtle/tiktok_96.png" alt="TikTok" style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none;width:2em; display:inline-block;" /></a>
                  <a href="https://www.youtube.com/channel/UCc1iA79642TeYEdEu2UvVpA/videos" target="_blank" style=""><img src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtle/youtube_96.png" alt="YouTube" style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none;width:2em; display:inline-block;" /></a>
                  <a href="https://instagram.com/statikco" target="_blank" style=""><img src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtle/instagram_96.png" alt="Instagram" style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none;width:2em; display:inline-block;" /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </td>
  </tr>

</table>
</body>
</html>
